@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.whole{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 3fr 0.2fr;
    background-color: #fefefe;
}

#mainNav{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 110%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1,h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.info{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    grid-column: 1/4;
    grid-row: 1;
    margin-bottom: 10px;
}

.registerOne{
    grid-column: 1;
    grid-row: 2/5;
    background-color:#e6e6e6;
}

.registerTwo{
    grid-column: 2;
    grid-row: 2;
    background-color:#e6e6e6;
}

.registerThree{
    grid-column: 3;
    grid-row: 2/5;
    background-color:#e6e6e6;
}

.registerFour{
    grid-column: 2;
    grid-row: 4;
    background-color:#e6e6e6;
}

form{
    grid-column: 2;
    grid-row: 3;
    background-color:#fefefe;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h4{
    text-align: center;
}

input[type="text"],input[type="email"], input[type="number"], input[type="tel"]{
    border-radius: 3px;
    border: 1px solid;
    border-color: #2f7478;
    width: 90%;
    height: 40px;
    transition: all 500ms;
}

input[type=date]{
    border-radius: 3px;
    border: 1px solid;
    border-color: #2f7478;
    width: 30%;
    height: 40px;
    transition: all 500ms;
}

input:hover{
    border-color: #0a2325;
}

button{
    width: 100%;
    border-radius: 5px;
    border-color: #2f7478;
    color: #2f7478;
    height: 40px;
    transition: background-color 500ms;
    border: 1px solid;
    background-color: #fefefe;
    margin-top: 20px;
}

button:hover{
    background-color: #cce9ea;
}


